*{
    margin: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.heading{
    font-size: 70px;
    color: white;
}
td{
    color: white;
    text-align: center;
    width: 5vw;
    border: 1px solid white;
    font-weight: 700;
    size: 12px;
}

.none{
    border: none;
}